@font-face {
    font-family: 'Nunito';
    src: url('src/assets/font/Nunito-VariableFont_wght.ttf') format('truetype'),
        url('src/assets/font/Nunito-Italic-VariableFont_wght.ttf') format('truetype');


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

}

body {
    text-align: center;
    display: inline;

}

header {
    background-color: #FFF0E0;


}

.header {
    word-spacing: 50px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: black;

}

a {
    color: rgb(255, 240, 248);
    text-decoration: none;
    font-family: 'Nunito';
    font-size: 24px;

}

#contato {
    padding: 12px;
    border: solid 1px rgb(255, 241, 245);
}